
.cont2 {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: url('https://wallpapercave.com/wp/wp7213465.png') ;
    background-size: cover;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;  
}

.container2 {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px; 
    border-radius: 10px;
    max-width: 700px; 
    width: 100%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 600;
    color: #b4afaf;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 12px; 
}

.field {
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
}

.field:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 10px rgba(76, 175, 80, 0.6);
}

.submit-btn {
    padding: 14px;
    background-color: #4CAF50;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #9a5d5d;
}

.error-message {
    color: #fffbfb;
    font-size: 1rem;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: rgba(255, 99, 71, 0.2);
    padding: 12px;
    border-radius: 5px;
}

.back-btn {
    position: absolute;
    top: 20px; 
    left: 20px;
    padding: 10px 20px;
    background-color: #c2615a;
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.back-btn:hover {
    background-color: #bc2929;
}

@media (max-width: 768px) {
    .container2 {
        width: 80%; 
        padding: 30px;
    }

    h1 {
        font-size: 2.2rem; 
    }

    .field, .submit-btn {
        font-size: 1.1rem; 
    }
}

@media (max-width: 600px) {
    .container2 {
        width: 90%; 
        padding: 20px;
    }

    h1 {
        font-size: 2rem; 
    }

    .field, .submit-btn {
        font-size: 1rem; 
    }
}
